.theFooter {
    background-color: #f8ff1e;
}


.socialLinks {
    float: left;
    padding-left: 15px;
    padding-right: 0;
    margin-bottom: 40px;
    position: relative;
}

.socialLinks_list {
    list-style-type: none;
    display: inline;
 
}
.socialLinks .socialLinks__item {
    float: left;
    margin-right: 5px;
    padding: 5px;
}
