* {
    margin: 0 auto;
    font-family: 'Droid Serif', 'Georgia', 'serif';
   
        
}
*::-webkit-scrollbar{
    display: none;
}

body {
    line-height: 1.8;
    font-weight: 400;
    color: rgb(3, 56, 58);
    background-color: linear-gradient(to right bottom,rgb(166, 249, 255) 50%, rgb(235, 227, 237) 50%);
    position: relative;
    font-size: 18px;
    margin: 0;
    padding: 0;
    
    

}







@media only screen and (max-width: 667px) {
.alignLeft {
    line-height: 80px;
    display: inline-block;
    
}
}

@media only screen and (max-width: 667px) {
    .nature {
    font-size: 50%;
}
}
@media only screen and (max-width: 667px) {
    .design {
    font-size: 50%;
}
}
@media only screen and (max-width: 667px) {
    .middleBuzzwords {
    font-size: 50%;
}
}
@media only screen and (max-width: 667px) {
    .laughter {
    font-size: 50%;
}
}
@media only screen and (min-width: 667px) {
    .kelseysFace {
    max-width: 100%;
}
}

@media only screen and (min-width: 667px) {
    .h1_about {
    white-space: nowrap;
    font-size: 50%;
    
}
}

@media only screen and (min-width: 667px) {
    .h2_about {
    font-size: 50%;
    padding-bottom: 0px;
    white-space: nowrap;
    line-height: 0;
    
    
}
}

@media only screen and (min-width: 667px) {
    p {
    font-size: 30%;
    
}
}

@media screen and (max-width: 1024px) {
    .image-grid {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
    }
}

