* {
    margin: 0 auto;
    font-family: 'Droid-Serif';
        
}
*::-webkit-scrollbar{
    display: none;
}

body {
    line-height: 1.8;
    font-weight: 400;
    color: #999;
    background-color: #161616;
    position: relative;
    font-size: 18px;
}



@media (max-width: 667px) {
.ulHeader {
    height: 100px;
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 10px;
}
}

@media (max-width: 667px) {
.alignLeft {
    line-height: 80px;
    display: inline-block;
    font-size: 30px;
}
}

@media (max-width: 667px) {
    .nature {
    font-size: 50px;
}
}
@media (max-width: 667px) {
    .design {
    font-size: 50px;
}
}
@media (max-width: 667px) {
    .middleBuzzwords {
    font-size: 50px;
}
}
@media (max-width: 667px) {
    .laughter {
    font-size: 50px;
}
}

